[submodule "miniz"]
	path = miniz
	url = https://github.com/richgel999/miniz
[submodule "xz-embedded"]
	path = xz-embedded
	url = https://git.tukaani.org/xz-embedded.git
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd
[submodule "subprojects/minlzma"]
	path = subprojects/minlzma
	url = https://github.com/ionescu007/minlzma
