[submodule "miniz"]
	path = miniz
	url = https://github.com/richgel999/miniz
[submodule "xz-embedded"]
	path = xz-embedded
	url = https://github.com/dimkr/xz-embedded
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd
